MONGODB_URL = 'mongodb://localhost/notskype_qdb_development'

CLIENT_ID = '1234567890.1234567890'

CLIENT_SECRET = 'deadbeefcafefeed'

SLACK_TEAM_ID = 'T01234567'

AUTH_ENABLED = True

# Generate this with `from cryptography.fernet import Fernet; Fernet.generate_key()`
SECRET_KEY = b''