# PIP Dependency Management that doesn't suck.
pip-tools

# Flask
flask

# Flask endpoint generation from OpenAPI spec.
connexion

# Mongo ORM
mongoengine

# uWSGI
uWSGI

# HTTP for humans
requests

# Python cryptographic recipes
cryptography