swagger: '2.0'
info:
  description: This is the notskype QDB server.
  version: 1.0.0
  title: notskype qdb
host: qdb.esports.moe
basePath: /api/v1
tags:
  - name: quote
    description: A quote
schemes:
  - http
  - https
paths:
  /quote:
    get:
      tags:
        - quote
      summary: Get a list of quotes in reverse chronological order
      operationId: qdb.quote.get
      produces:
        - application/json
      parameters:
        - in: query
          name: count
          description: Number of quotes to fetch
          type: number
          format: int32
          default: 10
        - in: query
          name: offset
          description: Number of quotes to skip
          type: number
          format: int32
          default: 0
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Quote'
        '400':
          description: Invalid count or offset
        '403':
          description: Not authorized to access QDB
      security:
        - GoogleSignInToken: []
    post:
      tags:
        - quote
      summary: Add a new quote to the database
      operationId: qdb.quote.post
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Quote body to be added to the database
          required: true
          schema:
            $ref: '#/definitions/Quote'
      responses:
        '400':
          description: Invalid quote body supplied
        '403':
          description: Not authorized to access QDB
      security:
        - GoogleSignInToken: []
  /quote/find:
    get:
      tags:
        - quote
      summary: Searches for quotes
      operationId: qdb.quote.find
      produces:
        - application/json
      parameters:
        - in: query
          name: query
          description: Text to search for in the quote database
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: array
            items:
              $ref: '#/definitions/Quote'
        '400':
          description: Invalid search query
        '403':
          description: Not authorized to access QDB
      security:
        - GoogleSignInToken: []
  '/quote/{quoteId}':
    get:
      tags:
        - quote
      summary: Find quote by ID
      description: Returns a single quote
      operationId: qdb.quote.get_by_id
      produces:
        - application/json
      parameters:
        - name: quoteId
          in: path
          description: ID of quote to return
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Quote'
        '400':
          description: Invalid ID supplied
        '403':
          description: Not authorized to access QDB
        '404':
          description: Quote not found
      security:
        - GoogleSignInToken: []
    delete:
      tags:
        - quote
      summary: Deletes a quote
      operationId: qdb.quote.delete
      produces:
        - application/json
      parameters:
        - name: quoteId
          in: path
          description: ID of quote to delete
          required: true
          type: integer
          format: int64
      responses:
        '400':
          description: Invalid ID supplied
        '403':
          description: Not authorized to access QDB
        '404':
          description: Quote not found
      security:
        - GoogleSignInToken: []
securityDefinitions:
  GoogleSignInToken:
    type: apiKey
    name: X-Google-Token
    in: header
definitions:
  Quote:
    type: object
    required:
      - body
    properties:
      id:
        type: integer
        format: int64
      body:
        type: string
      author:
        type: string
        format: email
      addedAt:
        type: string
        format: date-time
